{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet",
    "StorageConnection": "",
    "StorageQueueName": "introtoazureq",
    "OrdersTableName":  "Orders",
    "EmailQueueName": "email-queue",
    "SendGridAPIKey": ""
  }
}
